<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel = "stylesheet" href = "static/styles.css">
    <title>HowItRate</title>
  </head>



<!--<button class="addRat-btn" onclick="openForm()">Add A Rating</button>
the button above will be changed when we implement this module-->


    <div class="AddRating-popup" id="catRatForm">
        <form action="something" class="form">
            <!--action in form will be where we send it to go to database-->
            <h1>Write a Review</h1>

              <!--Update using python for loop when database all set up-->
              <label for="cat" id="cat">Select A Catagory</label>
              <select name="cat" id="cat">
                <option value="coffee">Coffee</option>
                <option value="Wine">Wine</option>
                <option value="Cannabis">Cannabis</option>
              </select>
              <br></br>

            <label for="ratCatName"><b>Item Name</b></label>
            <input type="namebox" placeholder="Name of item" name="ratCatName" style=width:210px;font-size:14px;

        required>
            <p></p>
            <label for="ratDesc"><b>Review</b></label>
            <p></p>
            <textarea id="catDesc" name="ratDesc" rows="10" cols="45" wrap="hard" number="250" style="resize:none;" required></textarea>


            <button type="submit" class="subRat-btn" onclick="submitRevReq()">Submit Review</button>
            <!--Functionality: we need to implement the functino submitReq() which will send the request to a database-->
            <button class="closeRat-btn" type="button" onclick="back()">Back</button>
            <a href="http://howitrate.tk" class="loginback-btn"></a>
      </form>
  </div>
<script>
  function back() {
    window.location.href="http://howitrate.tk"
  }

  </script>
