<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel = "stylesheet" href = "/static/styles.css">
    <style>
      .catLink-btn {
        position: relative;
        left: 37%;
        cursor: pointer;
        width: 300px;
        height: 55px;
        border: 0;
        border-radius: 150px;
        outline: none;
        font-weight: bold;
      }
    </style>
  </head>

  <body>

    <div>

      <button class="back-btn" onclick="location.href='http://flask-env3.eba-3thm7fka.us-east-2.elasticbeanstalk.com/';">Back</button>
    </div>

    <div>

        <title>HowItRate</title>

      {% for cat in result %}
        <form action="http://flask-env3.eba-3thm7fka.us-east-2.elasticbeanstalk.com/{{cat}}" method="POST">
            <button style="top:{{100 + (result.index(cat) * 50)}}px" class="catLink-btn " type="submit" name= "form"
              value={{cat.capitalize()}}>{{cat.capitalize()}}</button>

        </form>
      {% endfor %}
    </div>




  </body>
