<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel = "stylesheet" href = "../static/styles.css">
    <style>
      .catLink-btn {
        position: relative;
        left: 37%;
        cursor: pointer;
        width: 300px;
        height: 55px;
        border: 0;
        border-radius: 150px;
        outline: none;
        font-weight: bold;
      }
    </style>
  </head>
  
  <body>
    
    <div>
      
        <title>HowItRate</title>
      
      {% for cat in result %}  
        <form action="http://localhost:5000/{{cat}}" method="POST">
            <button style="top:{{100 + (result.index(cat) * 50)}}px" class="catLink-btn " type="submit" name= "form" 
              value={{cat.capitalize()}}>{{cat.capitalize()}}</button>    
            
        </form>
      {% endfor %}
    </div>



    
  </body>
